@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Lato&family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(rgba(12, 17, 29, 0.816), rgba(12, 17, 29, 0.816)), url(../imagenes/quetzal1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
header .logo {
  padding: 5px;
}

main {
  background-color: #F2F2F2;
  color: #091b3c;
  font-family: "Lato", sans-serif;
}

footer {
  background-color: #0597F2;
  color: #091b3c;
  font-family: "Lato", sans-serif;
}
footer h2 {
  font-size: 16px;
}
footer .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
footer .newsletter__boton {
  margin-top: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}
footer .redesSociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/*secciones*/
.container .form .form__header .form__title {
  font-family: sans-serif;
  font-size: 30px;
  color: #0597F2;
  text-align: center;
  padding: 14px 0;
}

.container .form .form__header .form__title span {
  color: white;
}

.container .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-height: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.container .form .form__label {
  display: block;
  color: #0597F2;
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
}

.container .form .form__input, .form__textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #0597F2;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: sans-serif;
}

.container .form .form__textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.container .form .submit {
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  outline: none;
  background: #0069f3;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container .form .submit:hover {
  background: #0597F2;
}

/*estilos cards*/
.bloque1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bloque1 img {
  max-height: 500px;
  overflow: hidden;
}

.bloque1 img {
  width: 100%;
}

.bloque1texto {
  text-align: center;
}

.bloque1texto h1 {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.bloque1texto p {
  font-size: 25px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  padding: 20px 10px;
}

.medioscontacto {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.medioscontacto h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .medioscontacto h2 {
    width: 100%;
  }
}

.redesSociales h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .redesSociales h2 {
    width: 100%;
  }
}

.ubicacion h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  width: 100%;
}

.redesSociales {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ubicacion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.horario {
  padding: 20px 0;
  text-align: center;
}

.horario p {
  padding: 5px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.card {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 200px;
}

.card .container {
  padding: 15px;
  text-align: center;
}

.card .container p {
  line-height: 1.5;
  color: #6a6a6a;
  font-size: 15px;
}

.card .container h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.card .container a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .container a:hover {
  background-color: #2fb4cc;
  color: white;
}

.mapa {
  height: 300px;
}
@media screen and (min-width: 768px) {
  .mapa {
    width: 400px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 992px) {
  .mapa {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .mapa {
    width: 100%;
  }
}

.mapa iframe {
  width: 100%;
  height: 300px;
}

p {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Lora", serif;
}

h2 {
  text-align: center;
  font-size: 20px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerp {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
}

.cardp {
  width: 300px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
@media screen and (min-width: 576px) {
  .cardp {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .cardp {
    width: 300px;
  }
}

.cardp:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cardp img {
  width: 100%;
  height: 200px;
}

.cardp .containerp {
  padding: 15px;
  text-align: center;
}

.cardp .containerp p {
  line-height: 1.5;
  color: #6a6a6a;
}

.cardp .containerp h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.cardp .containerp a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.cardp .containerp a:hover {
  background-color: #2fb4cc;
  color: white;
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nosotros {
  padding: 20px 15px;
  text-align: justify;
}

/*bloques*/
.bloque {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bloque .imagen {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.bloque img {
  width: 100%;
  max-height: 400px;
  padding: 10px 0;
}

.bloque .parrafo {
  display: flex;
  align-items: center;
}

.bloque p {
  max-width: 300px;
  padding: 10px 15px;
  text-align: justify;
}

/*bloques*/
.bloque2 {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.bloque2 .imagen {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.bloque2 img {
  width: 100%;
  max-height: 400px;
  padding: 10px 0;
}

.bloque2 .parrafo {
  display: flex;
  align-items: center;
}

.bloque2 p {
  max-width: 300px;
  padding: 10px 15px;
  text-align: justify;
}

/*ofrecemos*/
.ofrecemos {
  margin: 20px 0;
}

.ofrecemos h2 {
  text-align: center;
}

.ofrecemos p {
  text-align: justify;
  padding: 0 10px;
}

.ofrecemos .lista1, .lista2 {
  padding: 10px 20px;
}

/*clientes*/
.clientes {
  margin: 20px 0;
  padding: 0 15px;
}

.clientes h2 {
  text-align: center;
  padding-bottom: 20px;
}

.clientes .imagenes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px 0;
}

.clientes img {
  width: 100%;
  max-width: 300px;
  margin: 5px 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.slide img {
  height: 50vh;
}

.boton1 {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.boton1 a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.boton1 a:hover {
  background-color: #2fb4cc;
  color: white;
}

.bloque1home h1 {
  margin: 10px 0;
  color: black;
  text-align: center;
}

p {
  padding: 10px 10px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
