/*siempre eñ llamado de las fuentes va antes del reset como una declaracion de variables para despues llamarlo dentro del css*/

@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
/**
siempre tener aqui la paleta de colores como referencia
ademas de las reglas de css que arroja googlefonts

font-family: 'Fascinate', cursive;
font-family: 'Roboto', sans-serif;
**/


/*mobile first*/
*{
    margin: 0;   /* margenes en 0 en todos los navegadores*/
    padding: 0;   /*espaciado*/
    box-sizing: border-box; /* no se genere un scroll horizontal, todo entre en pantalla*/
}

body{
    background-image: url("../imagenes/fondo.jpg"); 
    background-size: auto;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}

/* estilos de header*/
header{
    padding: 10px; 
    display: grid;
    justify-content: center;
    }

nav ul il{
    list-style-type: none;
}

nav {
    background-color: black;
    padding: 20px;
    margin: 10px;
}

a { 
    color: white;
    text-decoration: none;
}

li{
    font-family: 'Fascinate', cursive;
    display: inline-block;
    font-size: 20px;
}

h1{
    color: blue;
    padding: 10px;  
    margin: 2px;
}

h2{
    padding: 10px;
    margin: 20px;
    color: black;
}

section{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    color: yellow;
    background-color: black;
    margin: 10px;
}

.titulo{
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

img{
    margin-top: 15px;
    padding: 20px;
    border-radius: 1cm;
}
.video{
    padding: 10px;
    border: 2px solid green;
    text-align: center;
}

footer{
    color: yellow;
    background-color: gray;
    padding: 25px;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}

.formulario{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-image: url("../imagenes/fondo.jpg"); 
    padding: 10px;
    text-align: center;
}
.nombre{
    display: inline-block;
}

.padre{
    color: white;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.img2{
    transition: all 8s; 
}
.img2:hover{
    transform: rotate(360deg);
}

/*Declaramos las areas para nuestra primera medida*/

header{
    grid-area: header;
    }
nav{
        grid-area: nav;
    }
.galeriaGrid{
        grid-area: galeria;
    }
.sec2{
    grid-area: sec2;
}
footer{
        grid-area: footer;
    }

    /*Empezamos a acomodar por areas*/

    .grillaGeneral{
        margin-bottom: 1.5em;
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "header"
        "nav"
        "galeria"
        "sec2"
        "footer";
    }

@media (min-width: 500px) {

        .grillaGeneral{
            margin: 0;
            grid-template-areas: 
            "header  header"
            "nav     nav"
            "sec2    galeria"
            "footer  footer";
            grid-template-columns: 1fr 3fr;
        }
nav ul{
    display: flex;
    justify-content: space-between;
}
footer{
    margin-top: 0;  
}
}

@media (min-width: 768px) {
  
    .grillaGeneral{
        margin: 0;
        grid-template-areas: 
        "header  header   header"
        "nav     nav      nav"
        "sec2    galeria  galeria"
        "footer  footer   footer";
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1.5em;
    }
nav ul{
justify-content: space-between;
}
.galeriaGrid{
    background-color: black;
}
footer{
    margin-top: 1.5em;
}
}

@media (min-width: 1024px) {
  
    .grillaGeneral{
        color: goldenrod;
    }
nav ul{
justify-content: space-between;
}
.galeriaGrid{
    background-color: rgb(4, 4, 166);
}
.padre{
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1 fr;
    height: auto;
    margin: 0;
}
img{
    margin-top: 0;
}
footer{
    margin-top: 1.5em;
}
}

/*Declaramos las areas para nuestra primera medida Nosotros*/

header{
    grid-area: header;
    }
nav{
        grid-area: nav;
    }
.trayetoria{
    grid-area: trayectoria;
}
.clientes{
    grid-area: clientes;
}
footer{
        grid-area: footer;
    }

/*Empezamos a acomodar por areas*/

.grillaNosotros{
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "nav"
    "header"
    "trayectoria"
    "clientes"
    "footer";
}

@media (min-width: 500px) {

    .grillaNosotros{
        margin: 0;
        grid-template-areas: 
        "nav         nav"
        "header      header"
        "trayectoria clientes"
        "footer  footer";
        grid-template-columns: 1fr 1fr;
    }

nav ul{
display: flex;
justify-content: space-between;
}
footer{
margin-top: 0;  
}
img{
    border: 2px solid white;
    width: 250px;
    height: 250px;
}
.trayetoria{
    width: 100%;
    text-align: center;
    padding: 40px;
}
}


@media (min-width: 768px) {
    .grillaNosotros{
        margin: 0;
        grid-template-areas: 
        "nav     nav      nav"
        "header  header   header"
        "trayectoria clientes clientes"
        "footer  footer   footer";
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1.5em;
    }

nav ul{
justify-content: space-between;
}

p {
    font-size: 20px;
    color: white;
}
footer{
    margin-top: 1.5em;
}
img{
    margin: 10px;
    width: 300px;
}
}

@media (min-width: 1024px) {

h2{
    font-size: 50px;
    color: blue;
}
h3{
    font-size: 35px;
    padding: 15px;
}
nav ul{
justify-content: space-between;
}
img{
    margin: 10px;
    width: 700px;
}
footer{
    margin-top: 1.5em;
}
}

/*Declaramos las areas para nuestra primera medida Servicios*/

header{
    grid-area: header;
    }
nav{
        grid-area: nav;
    }
.serviciodescrip{
    grid-area: descripcion;
}
.servicios{
    grid-area: servicios;
}
footer{
        grid-area: footer;
    }

/*Empezamos a acomodar por areas*/

.grillaServicios{
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "nav"
    "header"
    "descripcion"
    "servicios"
    "footer";
}

@media (min-width: 500px) {

    .grillaServicios{
        margin: 0;
        grid-template-areas: 
        "nav         nav"
        "header      header"
        "descripcion descripcion"
        "servicios   servicios"
        "footer  footer";
        grid-template-columns: 1fr 1fr;
    }

nav ul{
display: flex;
justify-content: space-between;
}

footer{
margin-top: 0;  
}
.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}


@media (min-width: 768px) {
    .grillaServicios{
        margin: 0;
        grid-template-areas: 
        "nav         nav         nav"
        "header      header      header"
        "descripcion descripcion descripcion"
        "servicios   servicios   servicios"
        "footer      footer      footer";
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1.5em;
    }

nav ul{
justify-content: space-between;
}
footer{
    margin-top: 1.5em;
}
p{
    font-size: 30px;
    color: yellow;
    text-align: center;
}
h2{
    font-size: 50px;
    color: blue
}
h3{
    font-size: 35px;
    color: black;
}
img{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
}

@media (min-width: 1024px) {

h2{
    font-size: 50px;
    color: blue;
}
h3{
    font-size: 35px;
    padding: 15px;
}
nav ul{
justify-content: space-between;
}
img{
    width: 400px;
}
footer{
    margin-top: 1.5em;
}
.servicios{
    display: grid;
    grid-template-columns: 1rf 1rf;
    gap: 10px;
    grid-template-areas: 
    "servicio1 servicio2"
    "servicio3 servicio4";
}
.servicio1{
    grid-area: servicio1;
}.servicio2{
    grid-area: servicio2;
}.servicio3{
    grid-area: servicio3;
}.servicio4{
    grid-area: servicio4;
}

}


/*Declaramos las areas para nuestra primera medida Productos*/

header{
    grid-area: header;
    }
nav{
        grid-area: nav;
    }
.procutodescrip{
    grid-area: descripcion;
}
.productos{
    grid-area: productos;
}
footer{
        grid-area: footer;
    }

/*Empezamos a acomodar por areas*/

.grillaProductos{
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "nav"
    "header"
    "descripcion"
    "productos"
    "footer";
}

@media (min-width: 500px) {

    .grillaProductos{
        margin: 0;
        grid-template-areas: 
        "nav         nav"
        "header      header"
        "descripcion descripcion"
        "productos   productos"
        "footer      footer";
        grid-template-columns: 1fr 1fr;
    }

nav ul{
display: flex;
justify-content: space-between;
}

footer{
margin-top: 0;  
}
.productos{
    display: flex;
    align-items: center;
}
h2{
    font-size: 40px;
    color: blueviolet;
}
h3{
    font-size: 25px;
    color: blueviolet;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}


@media (min-width: 768px) {
    .grillaProductos{
        margin: 0;
        grid-template-areas: 
        "nav         nav         nav"
        "header      header      header"
        "descripcion descripcion descripcion"
        "productos   productos   productos"
        "footer      footer      footer";
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1.5em;
    }

nav ul{
justify-content: space-between;
}
footer{
    margin-top: 1.5em;
}
p{
    font-size: 30px;
    color: yellow;
    text-align: center;
}
h2{
    font-size: 50px;
    color: blue
}
h3{
    font-size: 35px;
    color: black;
}
img{
    padding: 10px;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}


@media (min-width: 1024px) {

h2{
    font-size: 50px;
    color: blue;
}
h3{
    font-size: 35px;
    padding: 15px;
}
nav ul{
justify-content: space-between;
}
img{
    width: 450px;
}
footer{
    margin-top: 1.5em;
}
.productos{
    display: grid;
    grid-template-columns: 1rf 1rf;
    gap: 10px;
    grid-template-areas: 
    "producto1 producto2"
    "producto3 producto4";
}
.producto1{
    grid-area: producto1;
}.producto2{
    grid-area: producto2;
}.producto3{
    grid-area: producto3;
}.producto4{
    grid-area: producto4;
}

}

/*Declaramos las areas para nuestra primera medida Contacto*/

header{
    grid-area: header;
    }
nav{
        grid-area: nav;
    }
.sociales{
    grid-area: sociales;
}
.formulario{
    grid-area: formulario;
}
footer{
        grid-area: footer;
    }

/*Empezamos a acomodar por areas*/

.grillaContacto{
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "nav"
    "header"
    "sociales"
    "formulario"
    "footer";
}

@media (min-width: 500px) {

    .grillaContacto{
        margin: 0;
        grid-template-areas: 
        "nav         nav"
        "header      header"
        "sociales    sociales"
        "formulario  formulario"
        "footer      footer";
        grid-template-columns: 1fr 1fr;
    }

nav ul{
display: flex;
justify-content: space-between;
}

footer{
margin-top: 0;  
}
.sociales{
    text-align: center;
}
h2{
    font-size: 50px;
    color: blue;
}
h3{
    font-size: 35px;
    color: black;
}
}


@media (min-width: 768px) {
    .grillaContacto{
        margin: 0;
        grid-template-areas: 
        "nav         nav         nav"
        "header      header      header"
        "sociales    sociales    formulario"
        "footer      footer      footer";
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1.5em;
    }

nav ul{
justify-content: space-between;
}
footer{
    margin-top: 1.5em;
}
p{
    font-size: 30px;
    color: yellow;
    text-align: center;
}
}


@media (min-width: 1024px) {

h2{
    font-size: 60px;
    color: blue;
}
h3{
    font-size: 45px;
    padding: 15px;
}
nav ul{
justify-content: space-between;
}
footer{
    margin-top: 1.5em;
}

}