.slide img{
height: 50vh;
}

.boton1{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.boton1 a{
    @include estiloBoton;
}

.boton1 a:hover{
    background-color: #2fb4cc;
    color: white;
}


.bloque1home h1{
    margin: 10px 0;
    color: black;
    text-align: center;
}

p{
    padding: 10px 10px;
    text-align: center;
}
