
@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Lato&display=swap');


$font-navbar: 'Almarai', sans-serif;
$font-textos: 'Lato', sans-serif;
$color-main: #F2F2F2;
$color-footer: #0597F2;
$color-textos: #091b3c;
$color-boton: #0069f3;
$color-texto-boton: #F2F2F2;
