
@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Lato&display=swap');


$font-navbar: 'Almarai', sans-serif;
$font-textos: 'Lato', sans-serif;
$color-header: #091b3c;
$color-navbar: #051026;
$color-main: #022859;
$color-footer: #091b3c;
$color-textos: #F2F2F2;
$color-boton: #0069f3;