@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


$font-navbar: 'Fascinate', cursive;
$font-hedings: 'Roboto', sans-serif;
$color-body: #022859;
$color-body2: #03318C;
$color-textos: #F2F2F2;
$color-footer: #03060D;
$color-footer2: #051026;
$color-iconos: #0554F2;
$color-iconos2: #0442BF;