footer{
    background-color: $color-footer;
    color: $color-textos;
    font-family: $font-textos;
    h2{
        font-size: 16px;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        &__boton {
            margin-top: 10px;
            margin-bottom: 30px;
            @include estiloBoton;
        }
    }
    .redesSociales{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    }